button,
[role="button"] {
  padding-left: 0.1em;
  padding-right: 0.1em;
	border: 2px solid currentcolor;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

button:active,
button:focus,
[role="button"]:active,
[role="button"]:focus {
	box-shadow: var(--glow);
}
[aria-pressed="true"] {
	border: 2px solid var(--color-accent1-45);
}
:root{
  --cta-padding: initial;
}
.button--primary,
input.cta--primary,
.cta--primary a {
  display: block;
  color: var(--color-base-light);
  font-family: var(--font-monospace);
  font-variant: small-caps;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: .15em;
  width: 100%;
  max-width: 32ch;
  margin: auto;
  padding: .5em 1em;
  background: var(--color-base-dark);
  border-radius: var(--border-radius);
  box-shadow: none;
  --glow-color: var(--color-base-dark);
  border: 2px solid currentcolor;
  cursor: pointer;
}
.button--secondary,
input.cta--secondary,
.cta--secondary a {
  display: block;
  font-family: var(--font-monospace);
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: .15em;
  width: 100%;
  max-width: 32ch;
  margin: auto;
  padding: .5em 1em;
  border: 2px solid currentcolor;
  border-radius: var(--border-radius);
}
button:hover,
[role="button"]:hover,
.button--primary:hover,
.button--secondary:hover,
input.cta--primary:hover,
input.cta--secondary:hover,
.cta--primary a:hover,
.cta--secondary a:hover {
  border: 2px solid currentcolor;
  box-shadow: var(--glow);
}
