button,
[role="button"] {
  color: var(--color-accent1-45);
  padding-left: 0.1em;
  padding-right: 0.1em;
	border-radius: var(--border-radius);
  box-shadow: var(--glow);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
button:hover,
[role="button"]:hover {
  --glow-spread: 5px;
}
button:active,
button:focus,
[role="button"]:active,
[role="button"]:focus {
	--glow-spread: initial;
  --glow-color: var(--color-accent1-75);
}
[aria-pressed="true"] {
	border: 1px solid var(--color-accent1-45);
}
