button,
[role="button"] {
  color: var(--color-accent1-45);
  padding-left: 0.1em;
  padding-right: 0.1em;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
button:hover,
[role="button"]:hover {
  border: 1px solid currentcolor;
  box-shadow: var(--glow);
}
button:active,
button:focus,
[role="button"]:active,
[role="button"]:focus {
	box-shadow: var(--glow);
}
[aria-pressed="true"] {
	border: 1px solid var(--color-accent1-45);
}
