optgroup,
select {
	font: inherit;
	margin: 0;
}
label{
  margin: 0;
	position: relative;
}
input,
textarea {
  --box-shadow-inset: inset;
  font: inherit;
  font-family: var(--font-monospace);
	margin: 0;
	padding: calc(var(--vertical-margins) / 2);
	border: 1px var(--color-base-3) solid;
	border-radius: var(--border-radius);
	max-width: 100%;
}
input[type="text"] {
	font-family: var(--font-monospace);
}
input[type="radio"],
input[type="checkbox"] {
	width: 1em;
	height: 1em;
	position: relative;
	&::before {
		content: '';
		width: 1em;
		height: 1em;
		background: var(--color-base-light);
		border: 1px var(--color-base-dark) solid;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 0;
	}
	&:checked::before {
		background: var(--color-base-dark);
	}
}
input[type="checkbox"] {
	&::before {
		border-radius: var(--border-radius);
	}
	&:checked::before {
		content: '✓';
		line-height: 1;
		color: var(--color-base-light);
		font-family: var(--font-monospace);
		font-weight: bold;
		text-align: center;
	}
}
progress[value],
progress:not([value]) {
	width: calc(100% - 1.5em);
}
form {
	border: 1px var(--color-base-3) solid;
	border-radius: var(--border-radius);
}
	form * {
		margin-left: 0;
		margin-right: 0;
	}
	form button,
	form [role="button"] {
		width:100%;
	}
fieldset {
	font-family: var(--font-monospace);
	border:none;
}
legend {
	font-size: var(--type-scale-h4);
	font-weight: lighter;
}
