/* UTILITY
 * - layout & browser hacks
 * - accessibility
 * - browser warning (modernizr/noscript/etc)
 */

/* LAYOUT & browser hacks */
:target::before { /* offset jump to ID in browser */
	display: block;
	content: " ";
  height: 2em;      /* add height of your fixed element (offset) */
  margin-top: -2em; /* add negative margin of your fixed element */
  visibility: hidden;
}

/* Visibility */
.is-hidden { /* eliminate from DOM */
    display: none;
}
.is-invisible { /* accessibility: content still available to screen readers. */
    position: absolute !important;
    word-wrap: normal !important;
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    overflow: hidden;
}
.is-current,
[aria-current] { /* highlight navigation links and more */
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: var(--color-base-dark);
}
/* layout */
.is-cleared {
  clear: both; /* clearfix for floating elements */
}
.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.full-width { /* to stretch elements (like images) inside of centered columns beyond their parent container to fullscreen window width */
  max-width: 100vw;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.spaced:before { /* adds a flourish to seperate elements */
  display: block;
  content: "—";
  text-align: center;
}
.drop-shadow {
  box-shadow: var(--drop-shadow);
}
.skip-link { /* accessibility: link that only shows up when tabbed to with keyboard */
    display: block;
    position: fixed;
    top: -20em;
    text-align: center;
    width: 100%;
    padding: 0.5em;
    z-index: 100;
    background: var(--color-base-light);
    &:focus {
      top: 0; /* put the skip-link into view at top of viewport when tabbed to */
    }
}
.warning { /* styles warning text that breaks all design patterns to stand out */
  font-family: arial, sans-serif;
  color: #000;
  background: #fff;
  text-align: center;
  padding: 5px;
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000;
}
/*
 * TYPOGRAPHIC HELPER CLASSES
 */
 .font-size\:small {
 	font-size: 80%
 }
.text-align\:justify { /* the backslash escapes the colon so in HTML we can write class="text-align:justify" */
	text-align: justify;
	hyphens: auto;
}
.text-align\:left {
	text-align: left;
}
.text-align\:center {
	text-align: center;
}
.text-align\:right {
	text-align: right;
}
.font-family\:display {
  font-family: var(--font-monospace);
}
.font-family\:body {
  font-family: var(--font-body);
}
.hyphens\:auto {
    hyphens:auto
}
.margin-top\:0 {
    margin-top:0
}
.margin-top\:single {
    margin-top:calc(var(--vertical-margins) * 1);
}
.margin-top\:double {
    margin-top:calc(var(--vertical-margins) * 4);
}
