/*
 * ===== LANDMARK SECTION STYLES =====
 * defined by roles
 * "banner" defaults to topmost header
 * "contentinfo" defaults to topmost footer
 */


/* style banner-information for a document */
[role="banner"]{
}

aside,
[role="complementary"]{}

/* style the meta-information for a document */
[role="contentinfo"] {
    background: var(--color-base-dark);
    color: var(--color-base-light);
    margin: 0;
}
[role="contentinfo"] a {
	color: var(--color-base-light);
}
[role="contentinfo"] [role="navigation"] a {
    padding: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 0.1em;
    color: var(--color-base-light);
    background: var(--color-accent3-75);
}
