a {
  color: var(--color-base-45);
  text-underline-position: under;
  cursor: pointer;
  text-decoration-skip: objects;
  text-decoration-skip-ink: auto;
  text-decoration-color: var(--color-accent1-45);
  transition: all 0.2s ease;
  &:hover,
  &:active,
  &:focus {
    color: var(--color-base-75);
    text-decoration: underline;
    text-decoration-color: var(--color-accent2-45);
  }
}
sup a {
  color: var(--color-accent1-45);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &::before {
    content: "[";

  }
  &::after {
    content: "]";
  }
}
/*
[href]:focus {
outline:none
}

[href]:focus:not(:active) {
outline: .125rem solid
}

[tabindex="-1"]:focus {
outline:none
}

[href] {
text-decoration-thickness:.125em !important
}
*/
