a {
  color: inherit;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  text-decoration-skip: objects;
  text-decoration-skip-ink: auto;
  text-decoration-color: currentcolor;
  transition: all 0.2s ease;
  &:hover,
  &:active,
  &:focus {
    text-underline-position: auto;
  }
}
sup a {
  color: var(--color-accent1-45);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &::before {
    content: "[";

  }
  &::after {
    content: "]";
  }
}
