#nav-menu {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 5%;
  padding-right: 5%;
}
#nav-menu ul {
  list-style: none;
}
#nav-menu [aria-current] {
  //border-top: 1px solid black;
}
.logo-type {
  font-family: var(--font-monospace);
}
#nav-menu .logo-type {
  display: none;
}
@media all and (min-width: $break-wide){
  #nav-menu .logo-type {
    display: initial;
  }
}
