#nav-menu {
  font-size: 90%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 3%;
  padding-right: 3%;
}
#nav-menu ul {
  list-style: none;
}
#nav-menu [aria-current] {
  border-bottom: 2px solid currentcolor;
}
.logo-type {
  font-family: var(--font-monospace);
}
#nav-menu .logo-type {
  display: none;
}
@media all and (min-width: $break-wide){
  #nav-menu .logo-type {
    display: initial;
  }
}
