#cta-form {
  border:none;
}
.cta-form--progress {
  position: relative;
  padding: var(--vertical-margins);
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow);
}
.cta-form--progress {
  display: none;
}
#cta-form:target .cta-form--progress {
  display: block;
  animation: pop-in 0.3s linear 1;
}
#cta-form:target .cta-form--start {
  display:none;
}
label[for="gdpr"],
label[for="news"] {
}
