// BREAK POINTS
$break-wide: 1162px; // can't use css-variables for media queries

// css variables
// must be proper css-arguments when used on elements
// but can be called as integers in other variables
// --number: 5;
// --size: calc(var(--number) * 1em);
// width: var(--size)
//
// define variables in :root so they apply to svg as well as html
:root {
// contrast-consistent color scheme
// colors contrast against the color-base: 4.5 is AA accessibility standard
// contrasts are sorted from light to dark against the base, computed with https://leonardocolor.io/theme.html
// the -45 contrast is safe against either background in both dark and light schemes
// use rgba color-function in CSS to lighten or darken colors through transparency
// (add 20% steps to lighten, darken through transparent pseudo-element with white/black background)
// check contrasts with https://colorable.jxnblk.com/
/* off white & off black: works better on scroll than true black on OLED */
--color-base-light: #ffffff;
--color-base-dark: #090909; /* don't use true black, it produces artifacts on OLED screens when scrolling */

/* grey */
--color-base-3: rgba(149, 148, 148, 1); /* #959494 */
--color-base-45: rgba(118, 118, 118, 1); /* #767676 */
--color-base-75: rgba(85, 84, 84, 1); /* #555454 */

/* turqoise */
--color-accent1-3: rgba(56, 159, 197, 1); /* #389fc5 */
--color-accent1-45: rgba(61, 126, 152, 1); /* #3d7e98 */
--color-accent1-75: rgba(53, 89, 104, 1); /* #355968 */

/* purple */
--color-accent2-3: rgba(194, 117, 229, 1); /* #c275e5 */
--color-accent2-45: rgba(178, 59, 227, 1); /* #b23be3 */
--color-accent2-75: rgba(118, 59, 142, 1); /* #763b8e */

/* pink */
--color-accent3-3: rgba(233, 102, 168, 1); /* #e966a8 */
--color-accent3-45: rgba(224, 12, 144, 1); /* #e00c90 */
--color-accent3-75: rgba(147, 44, 98, 1); /* #932c62 */

// TODO create variables for gradients, like in button-backgrounds

// FONT-FAMILIES
--font-body: 'Bodoni MT', Didot, 'Didot LT STD', 'Times', 'Times New Roman', serif;
--font-display: 'Arial Black', 'Avenir Next Heavy', Gadget, 'Arial Bold', Sans-Serif;
--font-monospace: "Courier 10 Pitch", Consolas, "Liberation Mono", Courier, monospace; // monospace stack used by github (amended by Linux-Courier font)
--font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
// ALTERNATE FONT-FAMILIES
// SANS-SERIF, native UI fonts
// system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
// MONOSPACE
// Lucida Console, Andale Mono, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "DejaVu LGC Sans Mono", Liberation Mono, Monaco, monospace;
// SERIF, modern, light (adapted from) http://www.cssfontstack.com/Bodoni-MT
// 'Bodoni MT', Didot, 'Didot LT STD', 'Times', 'Times New Roman', serif;
// SERIF, classic, readable (adapted from) http://www.cssfontstack.com/Book-Antiqua
// 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;

// FONT-SETTINGS
--font-size-adjust: 0.42; /* use aspect ratio (hight/x-hight) of primary font in font stack to force unified x-hight */
--font-smoothing: auto; /* antialiased only for white on black to eliminate sub-pixel-rendering */
--font-feature-settings: "calt" on, "liga" on, "dlig" on, "kern" on; /* add special cases where necessary: e.g. table numbering in tables, swashes in calligraphic headlines */

// TYPOGRAPHY
// typographic scale derived from 1 and 1.4 as base units applied to golden ratio
// 0.865	1	1.4	1.618	2.265	2.618	3.665	4.236
--type-scale-base:   .8; /* adjust universal base-unit for type size */
--type-scale-small:  calc(var(--type-scale-base) * 0.865rem + 1vw);
--type-scale-normal: calc(var(--type-scale-base) * 1rem + 1vw);
--type-scale-h4:     calc(var(--type-scale-base) * 1.4rem + 1vw);
--type-scale-h3:     calc(var(--type-scale-base) * 1.618rem + 1vw);
--type-scale-h2:     calc(var(--type-scale-base) * 2.265rem + 1vw);
--type-scale-h1:     calc(var(--type-scale-base) * 2.618rem + 1vw);
--type-scale-huge:   calc(var(--type-scale-base) * 3.665rem + 1vw);

// TODO find proper solution for molten line-height, that expands with window width
--line-height: 1.45;

--vertical-margins: 2rem; /* standard margin-top for vertical rhythm */

// AESTHETICS
--border-radius: 3px;

--box-shadow-x: initial;
--box-shadow-y: initial;
--box-shadow-blur: initial;
--box-shadow-spread: initial;
--box-shadow-color: initial;
--box-shadow-inset: initial;
/* overwrite properties of the box shadow by defining different variables locally */
--drop-shadow:  var(--box-shadow-x, 1px) /* set theme default value here */
                var(--box-shadow-y, 3px)
                var(--box-shadow-blur, 15px)
                var(--box-shadow-spread, 0)
                var(--box-shadow-color, var(--color-base-3))
                var(--box-shadow-inset, ); /* no inset = space " " -> switch to inset with "inset" */
// use .foo { box-shadow: var(--drop-shadow); }
// .foo:active { -box-shadow-y: 2em; box-shadow: var(--drop-shadow); }
--glow-color: initial;
--glow-spread: initial;
--glow: -3px -3px 20px var(--glow-spread, 0) var(--glow-color, currentcolor),
         3px  3px 20px var(--glow-spread, 0) var(--glow-color, currentcolor);

// HELPER
/* variables derived from JavaScript helper.js */
/*
// TODO create form slider with --input
--scroll
--input
--mouse-x
--mouse-y
*/
--width: initial; //set width for elements (like buttons) to 100% inline

// use inline styles or JS to create a pseudo-element with content
--prepend: initial;
--append: initial;
}
::before {
content: var(--prepend); /* computes to nothing (initial) unless a variable is actually supplied */
}
::after {
  content: var(--append);
}
